.admin_body.full_window
  .row
    .nav-container.span3
      !=render :partial => 'admin/menu_sidebar'
    .container
      %form.form-horizontal{action: "/admin/parameters/#{@parameter[:vc_parameter_code]}", method: "POST"}
        %input{type: "hidden",value: "PUT", name: "_method"}/
        .control-group
          %label{for: "vc_value"}="Текст параметра"
          .controls
            %textarea{id: "vc_value", name: "vc_value"}="#{@parameter[:n_value].present? ? @parameter[:n_value] : @parameter[:vc_value]}"
        %input.btn.btn-primary.offset3(type="submit" id="save_parameter" value="Сохранить")/