.admin_body.full_window
  .row
    .nav-container.span3
      !=render :partial => 'admin/menu_sidebar'
    %form.form-horizontal{action: "/admin/questions/#{params.question_id}/attach", method: :post, enctype: 'multipart/form-data'}
      .control-group
        %input{type: :file, value: 'Выбрать', name: 'file[data]', id: :file}
        %input.btn.btn-primary{type: :submit, id: :save_parameter, value: 'Сохранить'}
        %img.attach{src: "/attachments/pic_#{params.question_id}.jpg"}
    %form.form-horizontal{action: "/admin/questions/#{params.question_id}/attach", method: :post}
      %input{type: :hidden, name: '_method', value: :delete}/
      %input.btn.btn-danger.offset3{type: :submit, id: :delete_file,value: 'Удалить'}/