.full_window.common_body
  - if @reload
    %input.reload_action{type: :hidden, name: :reload, value: 'true'}
  .row
    .span7.offset1.user_parameter
      %table.table.stats_table
        %caption='Ответы пользователя '
        %thead
          %tr
            %th='Этап'
            %th='Номер вопроса'
            %th='Ответ'
            %th='Время ответа'
            %th='Баллы'
        - if @answers && @answers.any?
          - @answers.each do |answer|
            %tr
              %td=answer.question.step.step_number
              %td=answer.question.n_number
              %td=answer.vc_answer
              %td=answer.d_time.to_s
              %td=answer.n_scores
        - else
          %tr
            %td.center-text{colspan: 5}
              ='Нет ответов'
    .offset7
      %a{href: '/'}
        .back.navigate