.full_window.common_body
  - if @reload
    %input.reload_action{type: :hidden, name: :reload, value: 'true'}
  .row
    .message-container
      .message.offset2.span9
        %textarea.message.user_parameter= @parameter.vc_value
  .row
    .span2.offset7
      %a{href: '/'}
        .back.navigate